.container {
  display: flex;
  flex-direction: row;
  height: 100%;

  mat-card {
    mat-card-header {
      font-size: 30px;
    }

    padding: 20px;
    margin: 20px;
    height: 100%;

    .form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }

    .field-full-width {
      width: 20%;
    }

    .play-button {
      margin-left: 20px;
    }

  }

  .game {
    flex: 1 0 70%;
  }

  .messages {
    flex: 0 1 20%;

    mat-card {
      margin-left: 0;
    }
  }
}
