<div *ngIf="isGameStarted; else enterDetails">

  <ng-container *ngIf="(timer$ | async) > 0; else timerEnded">
    Waiting for other players. Game will start in {{timer$ | async}}s
  </ng-container>

  <ng-template #timerEnded>
    <ng-container *ngIf="totalPlayers >= 2; else insufficientPlayers">
      <app-pong-canvas [playerNumber]="playerNumber"></app-pong-canvas>
    </ng-container>
    <ng-template #insufficientPlayers>
      Insufficient Players. Please Try Again.
      <button (click)="tryAgain()">Try Again</button>
    </ng-template>
  </ng-template>
</div>

<ng-template #enterDetails>
  <label>Name: </label>
  <input type="text" placeholder="Enter Name" [(ngModel)]="name"/>
  <button (click)="join()">JOIN GAME</button>
</ng-template>
